output "eDP-2" {
    mode "1920x1200@60" // Set resolution and refresh rate
    //////////////////////////////////variable-refresh-rate
    position x=0 y=0
    scale 1 // No scaling (use 2 for HiDPI)
}
output "eDP-1" {
    mode "1920x1200@60" // Set resolution and refresh rate
    //////////////////////////////////variable-refresh-rate
    position x=0 y=0
    scale 1 // No scaling (use 2 for HiDPI)
}
