// Niri configuration for CachyOS
// For documentation and full reference, see: https://github.com/YaLTeR/niri/wiki

// ────────────── Input Configuration ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

// Debug settings
debug {
  // Force niri to ignore the NVIDIA GPU by its PCI path
  // ignore-drm-device "/dev/dri/by-path/pci-0000:01:00.0-render"
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}
// Layer rules
layer-rule {
  match namespace="^noctalia-overview*"
  //match namespace="^noctalia-wallpaper*"
  place-within-backdrop true
}
cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
}
/* Apps: blur them all without xray for a better look */
window-rule {
  background-effect {
    blur false //global
    xray false
  }
}

/* Noctalia: blur everywhere without xray for a better look */
layer-rule {
  match namespace="^noctalia-(background|launcher-overlay|dock)-.*$"
  background-effect {
    blur false //noctalia
    xray false
  }
}
 blur {
  passes 4        // more passes = stronger blur (default: 3)
  offset 3.0      // sample distance per pass (default: 3.0)
  noise 0.03      // grain overlay (default: 0.02)
  saturation 1.25  // color saturation boost (default: 1.5)
}

// Input
input {
    keyboard {
	xkb {
	  layout "us,eg"
	  options "grp:win_space_toggle,compose:ralt"
        }

        repeat-delay 301
        repeat-rate 31
    }

    touchpad {
        accel-speed 1
        accel-profile "flat"
        tap // Enable tap-to-click
        natural-scroll // Enable natural (macOS-style) scrolling
    }
    mouse {
    	accel-profile "flat"
    }


    focus-follows-mouse max-scroll-amount="10%" // Automatically focus windows under the mouse pointer

    workspace-auto-back-and-forth // Enable workspace back & forth switching
}


// ────────────── Keybindings ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Key-Bindings

binds {

    MOD+SHIFT+ESCAPE                     { show-hotkey-overlay; }

    // ─── Applications ───
    MOD+Q                          hotkey-overlay-title="Open Terminal: Foot" { spawn-sh "foot"; }
    MOD+S                         hotkey-overlay-title="Open wlr-which-key" { spawn-sh "wlr-which-key"; }
    MOD+W                               hotkey-overlay-title="Open Browser: Zen browser" { spawn-sh "librewolf"; }
    MOD+ALT+L                           hotkey-overlay-title="Lock Screen: swaylock" { spawn-sh "swaylock"; }
    
    // Please choose your own file manager
    MOD+E                             hotkey-overlay-title="File Manager: yazi" { spawn-sh "foot -e yazi"; }

    // ─── Audio Controls ───
    // Example volume keys mappings for PipeWire & WirePlumber.
    // The allow-when-locked=true property makes them work even when the session is locked.
    XF86AudioRaiseVolume                allow-when-locked=true { spawn-sh "noctalia-shell ipc call volume increase"; }
    XF86AudioLowerVolume                allow-when-locked=true { spawn-sh "noctalia-shell ipc call volume decrease"; }
    XF86AudioMute                       allow-when-locked=true { spawn-sh "noctalia-shell ipc call volume muteOutput"; }
    XF86AudioMicMute                    allow-when-locked=true { spawn-sh "noctalia-shell ipc call volume muteInput"; }
    XF86AudioNext                       allow-when-locked=true { spawn-sh "noctalia-shell ipc call media next"; }
    XF86AudioPause                      allow-when-locked=true { spawn-sh "noctalia-shell ipc call media playPause"; }
    XF86AudioPlay                       allow-when-locked=true { spawn-sh "noctalia-shell ipc call media playPause"; }
    XF86AudioPrev                       allow-when-locked=true { spawn-sh "noctalia-shell ipc call media previous"; }
    XF86MonBrightnessUp                 allow-when-locked=true { spawn-sh "noctalia-shell ipc call brightness increase"; }
    XF86MonBrightnessDown               allow-when-locked=true { spawn-sh "noctalia-shell ipc call brightness decrease"; }

    // ─── Window Movement and Focus ───
    MOD+SHIFT+C                               { close-window; }

    MOD+Z                           	{ focus-column-left; }
    MOD+X                           	{ focus-column-right; }
    MOD+C                           	{ focus-workspace-down; }
    MOD+D                           	{ focus-workspace-up; }

    MOD+LEFT                            { focus-column-left; }
    MOD+H                               { focus-column-left; }
    MOD+RIGHT                           { focus-column-right; }
    MOD+L                               { focus-column-right; }
    MOD+UP                              { focus-window-up; }
    MOD+K                               { focus-window-up; }
    MOD+DOWN                            { focus-window-down; }
    MOD+J                               { focus-window-down; }

    MOD+CTRL+LEFT                       { move-column-left; }
    MOD+CTRL+H                          { move-column-left; }
    MOD+CTRL+RIGHT                      { move-column-right; }
    MOD+CTRL+L                          { move-column-right; }
    MOD+CTRL+UP                         { move-window-up; }
    MOD+CTRL+K                          { move-window-up; }
    MOD+CTRL+DOWN                       { move-window-down; }
    MOD+CTRL+J                          { move-window-down; }

    MOD+HOME                            { focus-column-first; }
    MOD+END                             { focus-column-last; }
    MOD+CTRL+HOME                       { move-column-to-first; }
    MOD+CTRL+END                        { move-column-to-last; }

    MOD+SHIFT+LEFT                      { focus-monitor-left; }
    MOD+SHIFT+RIGHT                     { focus-monitor-right; }
    MOD+SHIFT+UP                        { focus-monitor-up; }
    MOD+SHIFT+DOWN                      { focus-monitor-down; }

    MOD+SHIFT+CTRL+LEFT                 { move-column-to-monitor-left; }
    MOD+SHIFT+CTRL+RIGHT                { move-column-to-monitor-right; }
    MOD+SHIFT+CTRL+UP                   { move-column-to-monitor-up; }
    MOD+SHIFT+CTRL+DOWN                 { move-column-to-monitor-down; }

    // ─── Workspace Switching ───
    MOD+WHEELSCROLLDOWN                 cooldown-ms=150 { focus-workspace-down; }
    MOD+WHEELSCROLLUP                   cooldown-ms=150 { focus-workspace-up; }
    MOD+CTRL+WHEELSCROLLDOWN            cooldown-ms=150 { move-column-to-workspace-down; }
    MOD+CTRL+WHEELSCROLLUP              cooldown-ms=150 { move-column-to-workspace-up; }

    MOD+WHEELSCROLLRIGHT                { focus-column-right; }
    MOD+WHEELSCROLLLEFT                 { focus-column-left; }
    MOD+CTRL+WHEELSCROLLRIGHT           { move-column-right; }
    MOD+CTRL+WHEELSCROLLLEFT            { move-column-left; }

    MOD+SHIFT+WHEELSCROLLDOWN           { focus-column-right; }
    MOD+SHIFT+WHEELSCROLLUP             { focus-column-left; }
    MOD+CTRL+SHIFT+WHEELSCROLLDOWN      { move-column-right; }
    MOD+CTRL+SHIFT+WHEELSCROLLUP        { move-column-left; }

    MOD+1                               { focus-workspace 1; }
    MOD+2                               { focus-workspace 2; }
    MOD+3                               { focus-workspace 3; }
    MOD+4                               { focus-workspace 4; }
    MOD+5                               { focus-workspace 5; }
    MOD+6                               { focus-workspace 6; }
    MOD+7                               { focus-workspace 7; }
    MOD+8                               { focus-workspace 8; }
    MOD+9                               { focus-workspace 9; }

    MOD+CTRL+1                          { move-column-to-workspace 1; }
    MOD+CTRL+2                          { move-column-to-workspace 2; }
    MOD+CTRL+3                          { move-column-to-workspace 3; }
    MOD+CTRL+4                          { move-column-to-workspace 4; }
    MOD+CTRL+5                          { move-column-to-workspace 5; }
    MOD+CTRL+6                          { move-column-to-workspace 6; }
    MOD+CTRL+7                          { move-column-to-workspace 7; }
    MOD+CTRL+8                          { move-column-to-workspace 8; }
    MOD+CTRL+9                          { move-column-to-workspace 9; }

    MOD+TAB                             { toggle-overview; }
    MOD+a                             { spawn "wooz"; }

    // ─── Layout Controls ───
    MOD+F                          	{ maximize-column; }
    MOD+CTRL+C                          { center-visible-columns; }
    MOD+MINUS                           { set-column-width "-10%"; }
    MOD+EQUAL                           { set-column-width "+10%"; }
    MOD+SHIFT+MINUS                     { set-window-height "-10%"; }
    MOD+SHIFT+EQUAL                     { set-window-height "+10%"; }

    // ─── Noctalia binds ───
    MOD+G                               { spawn-sh "noctalia-shell ipc call controlCenter toggle"; }
    MOD+R                               { spawn-sh "noctalia-shell ipc call launcher toggle"; }
    MOD+CTRL+R				{ spawn-sh "noctalia-shell ipc call launcher emoji"; }
    MOD+SHIFT+R                         { spawn-sh "noctalia-shell ipc call launcher clipboard"; }

    // ─── Modes ───
    MOD+V                               { toggle-window-floating; }
    MOD+SHIFT+F                         { fullscreen-window; }
    MOD+ALT+F                         	{ maximize-window-to-edges; }
    MOD+CTRL+F                         	{ toggle-windowed-fullscreen; }

    // ─── Screenshots ───
    //Super+Shift+XF86TouchpadOff { screenshot; }
    MOD+SHIFT+S { screenshot; }
    MOD+SHIFT+ALT+S { screenshot-window; }
    MOD+SHIFT+CTRL+S { spawn-sh "wl-paste --type image/png | satty -f -"; }


    // ─── Emergency Escape Key ───
    // Use this when a fullscreen app blocks your keybinds.
    // It disables any active keyboard shortcut inhibitor, restoring control.
    MOD+ESCAPE                          allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // ─── Exit / Power ───
    CTRL+ALT+DELETE                     { quit; } // Also quits Niri
    MOD+SHIFT+P                         { power-off-monitors; } // Turn off screens (useful for OLED or privacy)
    MOD+O                               repeat=false { toggle-overview; }
}

// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

    spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1 &" // Polkit
    spawn-sh-at-startup "equibop"
    spawn-sh-at-startup "xwayland-satellite"
    spawn-sh-at-startup "zapzap"
    spawn-sh-at-startup "bitwarden"
    spawn-sh-at-startup "noctalia-shell"
    spawn-sh-at-startup "gentoo-pipewire-launcher"

    prefer-no-csd // Disable program decorations
    screenshot-path null // Disable screenshot saving

// ────────────── Environment Variables ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#environment

    environment { 
        PROTONPATH "GE-Proton"
        SSH_AUTH_SOCK "/home/amr/.bitwarden-ssh-agent.sock"
        DISPLAY ":1"
        ELECTRON_OZONE_PLATFORM_HINT "auto"
	QT_QPA_PLATFORMTHEME "qt6ct"
        QT_QPA_PLATFORM "wayland"
        QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
        XDG_SESSION_TYPE "wayland"
        XDG_CURRENT_DESKTOP "niri"
    }

    hotkey-overlay {
        skip-at-startup
    }

include "./layout.kdl"
include "./window-rules.kdl"

include "./animations.kdl"

include "./display.kdl"

include "./noctalia.kdl"
