    window-rule {
        match app-id=r#"firefox$"# title="^Picture-in-Picture$"
        match app-id="com.gabm.satty"
        open-floating true // Always float Firefox PiP windows
    }
    window-rule {
    	draw-border-with-background false
    }

    window-rule {
        match app-id=r#"^org\.keepassxc\.KeePassXC$"#
        match app-id=r#"^org\.gnome\.World\.Secrets$"#
        match app-id="Bitwarden"
        match title="Bitwarden"
        match app-id="com.rtosta.zapzap"
        match title="ZapZap"

        block-out-from "screen-capture"

      // Use this instead if you want them visible on third-party screenshot tools.
      // block-out-from "screencast"
  }

    window-rule {
        geometry-corner-radius 0 // Set every window radius to 20
        clip-to-geometry false
    }
